.header{
    /* //we can do this later */
  position: sticky;
  z-index: 100;
  top: 0;
}
.header_top{
    height: 100px;
    background-color: white;
    font-size: 16px;
    display:flex;
    color:#50A6C2;
    padding-right:8px;
    padding-bottom: 8px;
    
}
.header_menu {
    display: flex;
    padding: 10px 8px 8px 8px;
    width: 100%;

}
.material-icons{
    font-size:54px;
}
.header_menu_cart{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-left: 60%;
    height: 50px;
}
.header_menu_cart div{
justify-content: right;
}
.header_cart_number{
    color: #febd69;
    font-size: 25px;
    font-weight: 800;
}
.welcome{
    margin-left: 1em;
    font-size: 40px;
}
.log-out{
    margin-left: 1em;
    
}
a {
    color: inherit;
    cursor: pointer;
}