.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }
  .btn{
    margin: 0 1em;
  }
  div .btn-outline-primary {
    text-align: right!important;
  }
  .btn-outline-primary {
    border:#50A6C2;
    color:#50A6C2;
    background: white;
    margin: 1em 0;
  }
  .btn-outline-primary :hover{
    border:#50A6C2!important;
    color:white;
    background: #50A6C2;
    margin: 1em 0;
    padding:1em;
    border-radius: .2rem;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
    text-align: end;
}
.marque-basic{
  color:orange;
}