<div class="container">
  <div class="row">
    <div class="col-10">
    </div>
    <div class="col-2">
      <button type="button" class="btn-outline-primary btn-add" (click)="addNewItem()">
        <span>Add new item</span>
        </button>
    </div>
   <div *ngIf = "showLabel">
    <marquee><span class="marque-basic">This ifacility isnot yet implemented. Kindly add items in database.</span></marquee>
   </div>
    <div class="col-12">
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventory">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.availbility }}</td>
            <td>₹ {{ item.price }}</td>
            <td>
              <button type="button" class="btn btn-light" (click) = "viewDetail(item.id)">
                <span class="material-icons"> visibility </span>
              </button>
              <button type="button" class="btn btn-light" (click) ="addItem(item.id)">
                <span class="material-icons"> add </span>
              </button>
              <button type="button" class="btn btn-light" (click) ="removeItem(item.id)">
                <span class="material-icons"> remove </span>
              </button>
              <button type="button" class="btn btn-light" (click) ="deleteItem(item.id)">
                <span class="material-icons"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>